---
import "@/styles/global.css";
import "@fontsource-variable/onest/wght.css";
import "@fontsource/bebas-neue";
import "@fontsource/dm-sans";
import "@fontsource/noto-serif-jp";

import Footer from "@/components/Footer.astro"
import CartSection from "@/components/CartSection";
import { ClientRouter } from "astro:transitions"
import { Toast } from "@/components/Toast";
import AccesibilityApp from "@/components/ui/accesibility-app.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#0a0805" />
    <link rel="icon" type="image/svg+xml" href="/sushi-icon.svg" />
    <title>Ehomakis Sushi Bar</title>
    <meta
      name="description"
      content="Disfruta de la mejor barra de sushi y cocina Nikkei en Lima. Makis, tablas, y sabores únicos con el toque peruano que nos distingue."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://ehomakis.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Ehomakis | Barra de Sushi & Cocina Nikkei"
    />
    <meta
      property="og:description"
      content="Disfruta de la mejor barra de sushi y cocina Nikkei en Lima. Makis, tablas, y sabores únicos con el toque peruano que nos distingue."
    />
    <meta property="og:image" content="/og-wallpaper.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="ehomakis.vercel.app" />
    <meta property="twitter:url" content="https://ehomakis.vercel.app/" />
    <meta
      name="twitter:title"
      content="Ehomakis | Barra de Sushi & Cocina Nikkei"
    />
    <meta
      name="twitter:description"
      content="Disfruta de la mejor barra de sushi y cocina Nikkei en Lima. Makis, tablas, y sabores únicos con el toque peruano que nos distingue."
    />
    <meta name="twitter:image" content="/og-wallpaper.png" />

    <ClientRouter />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
  <CartSection client:load />
  <Footer />
  <Toast client:idle />
  <AccesibilityApp />
</html>

<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background: var(--black);
    color: var(--white);
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    overflow-x: hidden;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
