---
import "@/styles/global.css";
import "@fontsource-variable/onest/wght.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ehomaki Sushi Bar</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    font-family: "Onest Variable", sans-serif;
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
    min-height: 100vh;
    position: relative;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
